logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
*.local
convex/_generated

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.local
.env.production
.env.staging

# Sentry Config File
.env.sentry-build-plugin

.vinxi/
.wrangler/